Lists
There are four collection data types in Python :

List: is a collection which is ordered and changeable(modifiable). Allows duplicate members.
Tuple: is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members.
Set: is a collection which is unordered, un-indexed and unmodifiable, but we can add new items to the set. Duplicate members are not allowed.
Dictionary: is a collection which is unordered, changeable(modifiable) and indexed. No duplicate members.
A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items.

in python we can create list in 2ways 

1.using list built in function

2.using square brackets

In [69]:
#creating a list
#using list built in function
lst= list()

In [70]:
empty_list=list()   #this is an empty list no item in the list
print(len(empty_list))  #0

0

In [71]:
#using Square brackets

lst=[]
empty_list=[]
print(len(empty_list))

0

In [72]:
#list with intial values.we use len() to find the length of the function
fruits=['banana','apple','pineapple','kiwi','orange']
vegetables=['tomato','potato','onion','cabbage','carrot']
animal_products=['milk','meat','butter','yoghurt']
countries=['india','pakistan','austrlia','sweden','Norway']
#print the list and its length

print(f'fruits: {fruits}')
b=len(fruits)
print(f'length of fruits : {b}')
print(f'vegetables: {vegetables}')
print('vegetables',len(vegetables))
print(f'animal_products : {animal_products}')
print('animal_products : ',len(animal_products))
print(f'countries : {countries}')
print('countries',len(countries))

fruits: ['banana', 'apple', 'pineapple', 'kiwi', 'orange']
length of fruits : 5
vegetables: ['tomato', 'potato', 'onion', 'cabbage', 'carrot']
vegetables 5
animal_products : ['milk', 'meat', 'butter', 'yoghurt']
animal_products :  4
countries : ['india', 'pakistan', 'austrlia', 'sweden', 'Norway']
countries 5

* Lists can have items of different data types

In [73]:
lst=[True,0,1,'mounika',(1,2,3,4,5),{1:2,4:6,'mounika':22}]

Accessing List Items Using Positive Indexing
We access each item in a list using their index. A list index starts from 0.

In [74]:
fruits=['mango','banana','lemon','orange']
print(fruits[0])

mango

In [75]:
last_index=len(fruits)-1
last_fruit=fruits[last_index]
print(last_fruit)

orange

Accessing List Items Using Negative Indexing
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item.

List negative indexing

In [76]:
fruits=['mango','apple','lemon','orange']
print(fruits[-1])  #last fruit
print(fruits[-4])   #first fruit

orange
mango

In [77]:
#Unpacking List Items
lst=['item1','item2','item3','item4','item5']
first_item,second_item,third_item, *rest=lst
print(first_item)
print(second_item)
print(third_item)
print(rest)

item1
item2
item3
['item4', 'item5']

In [78]:
fruits=['apple','mango','pineapple','orange','lemon','banana','lime']
first_fruit,second_fruit,third_fruit,*rest=fruits
print(first_fruit)
print(second_fruit)
print(third_fruit)
print(rest)

apple
mango
pineapple
['orange', 'lemon', 'banana', 'lime']

In [79]:
first,second,third,*rest,tenth=[1,2,3,4,5,6,7,8,9,10]
print(first)
print(second)
print(third)
print(rest)
print(tenth)

1
2
3
[4, 5, 6, 7, 8, 9]
10

In [80]:
countries=['india','norway','sweden','austrila','denmark','iceland','france','germany']
id,no,sw,au,*scandic,ge=countries
print(id)
print(no)
print(sw)
print(au)
print(scandic)
print(ge)

india
norway
sweden
austrila
['denmark', 'iceland', 'france']
germany

Slicing Items from a List

Positive Indexing: We can specify a range of positive indexes by specifying the start, end and step, the return value will be a new list. (default values for start = 0, end = len(lst) - 1 (last item), step = 1)

In [81]:
fruits=['banana','orange','apple','mango','kiwi']
all_fruits=fruits[0:4]  #it returns all the fruits
#this will also give the same result as the one above
all_fruits=fruits[0:]  #if we dont set where to stop it takes all the rest
orange_and_mango=fruits[1:3]  #it does not include the first index
orange_mango_lemon=fruits[1:]
orange_and_lemon=fruits[::2]  # # here we used a 3rd argument, step. It will take every 2cnd item - ['banana', 'mango']
print(orange_and_mango)
print(orange_mango_lemon)
print(orange_and_lemon)
print(all_fruits)

['orange', 'apple']
['orange', 'apple', 'mango', 'kiwi']
['banana', 'apple', 'kiwi']
['banana', 'orange', 'apple', 'mango', 'kiwi']

Negative Indexing: We can specify a range of negative indexes by specifying the start, end and step, the return value will be a new list.

In [82]:
fruits=['banana','orange','mango','lemon']
all_fruits=fruits[-4:]   # it returns all the fruits
orange_and_mango=fruits[-3:-1]  # it does not include the last index,['orange', 'mango']
orange_mango_lemon=fruits[-3:]   # this will give starting from -3 to the end,['orange', 'mango', 'lemon']
reverse_fruits=fruits[::-1]    # a negative step will take the list in reverse order,['lemon', 'mango', 'orange', 'banana']
print(all_fruits)
print(orange_and_mango)
print(orange_mango_lemon)
print(reverse_fruits)

['banana', 'orange', 'mango', 'lemon']
['orange', 'mango']
['orange', 'mango', 'lemon']
['lemon', 'mango', 'orange', 'banana']

Modifying Lists
List is a mutable or modifiable ordered collection of items. Lets modify the fruit list.

In [83]:
fruits=['banana','orange','mango','lemon']
fruits[0]='avacodo'
print(fruits)
fruits[1]='apple'
print(fruits)
last_index=len(fruits)-1
fruits[last_index]='lime'
print(fruits)

['avacodo', 'orange', 'mango', 'lemon']
['avacodo', 'apple', 'mango', 'lemon']
['avacodo', 'apple', 'mango', 'lime']

Checking Items in a List
Checking an item if it is a member of a list using in operator.

In [84]:
fruits=['banana','orange','mango','lemon']
does_exist1='banana' in fruits
does_exist='lime' in fruits
print(does_exist1)
print(does_exist)

True
False

In [94]:
fruits=['banana','orange']
does_exist='banana' in fruits
print(does_exist)

True

Adding Items to a List

In [85]:
# syntax
lst = list()
lst.append('item')
print(lst)

['item']

In [2]:
#To add item to the end of an existing list we use the method append().
lst1=['banana','mango','kiwi','lime']
lst1.append('watermelon')
print(lst1)

['banana', 'mango', 'kiwi', 'lime', 'watermelon']

In [3]:
lst=list()
lst.append(500)
print(lst)

[500]

In [88]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.append('apple')
print(fruits)           # ['banana', 'orange', 'mango', 'lemon', 'apple']
fruits.append('lime')   # ['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'apple']
['banana', 'orange', 'mango', 'lemon', 'apple', 'lime']

In [4]:
a=['a','b']
a.append('d')
print(a)

['a', 'b', 'd']

In [90]:
print('hello world')

hello world

Inserting Items into a List

We can use insert() method to insert a single item at a specified index in a list. Note that other items are shifted to the right. The insert() methods takes two arguments:index and an item to insert.

In [1]:
#syntax
mouni=['item1','item2']
mouni.insert(2,'kiwi')
print(mouni)

['item1', 'item2', 'kiwi']

In [92]:
# syntax
lst = ['item1', 'item2']
lst.insert(2, 'mouni')
print(lst)

['item1', 'item2', 'mouni']

Removing Items from a List
The remove method removes a specified item from a list

In [6]:
#syntax
lst=['item','item1']
lst.remove('item')
print(lst)

['item1']

In [7]:
fruits=['banana','mango','kiwi','orange','apple','banana']
fruits.remove('banana')  #this method removes the first occurrence of the item in the list
print(fruits)
fruits.remove('apple')
print(fruits)

['mango', 'kiwi', 'orange', 'apple']
['mango', 'kiwi', 'orange']

Removing Items Using Pop

The pop() method removes the specified index, (or the last item if index is not specified):

In [14]:
fruits=['banana','mango','apple','orange','kiwi']
fruits.pop()
print(fruits)

fruits.pop(2)
print(fruits)

['banana', 'mango', 'orange', 'kiwi']

Removing Items Using Del

The del keyword removes the specified index and it can also be used to delete items within index range. It can also delete the list completely

In [17]:
#syntax
lst=['item','item1']
del lst[1]
print(lst)

['item']

In [19]:
del lst
print(lst)

NameError: name 'lst' is not defined

In [20]:
fruits=['banana','mango','lemon','kiwi','lime']
del fruits[0]
print(fruits)

del fruits[1]
print(fruits)

del fruits[1:3]
print(fruits)

del fruits
print(fruits)

['mango', 'lemon', 'kiwi', 'lime']
['mango', 'kiwi', 'lime']
['mango']

NameError: name 'fruits' is not defined

Clearing List Items

The clear() method empties the list:

In [22]:
#syntax
lst=['item','item1']
lst.clear()
print(lst)

[]

In [23]:
fruits=['banana','mango','kiwi']
fruits.clear()
print(lst)

[]

Copying a List

It is possible to copy a list by reassigning it to a new variable in the following way: list2 = list1. Now, list2 is a reference of list1, any changes we make in list2 will also modify the original, list1. But there are lots of case in which we do not like to modify the original instead we like to have a different copy. One of way of avoiding the problem above is using copy().

In [24]:
#syntax
lst=['item','item1']
list_copy=lst.copy()
print(list_copy)

['item', 'item1']

In [29]:
fuits=['banana','kiwi','apple','mango']
lst_copy=fuits.copy()
print(lst_copy)

['banana', 'kiwi', 'apple', 'mango']

In [27]:
a=['1',2]
b=a.copy()
print(b)

['1', 2]

Joining Lists
There are several ways to join, or concatenate, two or more lists in Python.

Plus Operator (+)

list3=list1 + list2

In [30]:
#syntax
positive_numbers=[1,2,3,4,5,6,7,8]
zero=[0]
negative_numbers=[-1,-2,-3,-4,-5,-6,-7,-8]
integers=negative_numbers + zero + positive_numbers
print(integers)

[-1, -2, -3, -4, -5, -6, -7, -8, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
fruits=['mango','kiwi','apple','banana','orange']
vegetables=['brinjal','ladyfinger','onion','potato','tomato']
fruits_vegetables=fruits+vegetables
print(fruits_vegetables)

['mango', 'kiwi', 'apple', 'banana', 'orange', 'brinjal', 'ladyfinger', 'onion', 'potato', 'tomato']

Joining using extend() method The extend() method allows to append list in a list.

In [34]:
#syntax
list1=['item1','item2']
list2=['item3','item4','item5']
list1.extend(list2)
print(list1)

['item1', 'item2', 'item3', 'item4', 'item5']

In [36]:
num1=[0,1,2,3]
num2=[4,5,6,7]
num1.extend(num2)
print('numbers:',num1)

numbers: [0, 1, 2, 3, 4, 5, 6, 7]

In [38]:
negative_numbers=[-1,-2,-3,-4,-5]
positive_numbers=[1,2,3,4,5,6]
zero=[0]
negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('integers:',negative_numbers)

integers: [-1, -2, -3, -4, -5, 0, 1, 2, 3, 4, 5, 6]

In [39]:
fruits=['banana','kiwi','grapes','watermelon']
vegetables=['potato','cucmber','brinjal','onion']
fruits.extend(vegetables)
print(fruits)

['banana', 'kiwi', 'grapes', 'watermelon', 'potato', 'cucmber', 'brinjal', 'onion']

Counting Items in a List
The count() method returns the number of times an item appears in a list:

In [40]:
#syntax
lst=['item','item1','item']
lst.count('item')

2

In [42]:
fruits=['banana','mango','orange','apple']
print(fruits.count('mango'))
ages=[12,56,78,98,98,7,3,7,3,4,5]
print(ages.count(7))

1
2

Reversing a List
The reverse() method reverses the order of a list.

In [43]:
#syntax
lst=['item1','item2']
lst.reverse()
print(lst)

['item2', 'item1']

In [45]:
fruits=['banana','mango','kiwi','apple','orange']
fruits.reverse()

print(fruits)

['orange', 'apple', 'kiwi', 'mango', 'banana']

In [46]:
ages=[12,76,8,5,98,76,56,43]
ages.reverse()
print(ages)

[43, 56, 76, 98, 5, 8, 76, 12]

Sorting List Items

To sort lists we can use sort() method or sorted() built-in functions. The sort() method reorders the list items in ascending order and modifies the original list. If an argument of sort() method reverse is equal to true, it will arrange the list in descending order.

sort(): this method modifies the original list

In [47]:
#syntax
lst=['item','item2']
lst.sort()
lst.sort(reverse=True)

In [49]:
lst=[56,98,76,54,32,12,2,3,4,0,9,1,6,7,8]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 12, 32, 54, 56, 76, 98]
[98, 76, 56, 54, 32, 12, 9, 8, 7, 6, 4, 3, 2, 1, 0]

In [51]:
fruits=['banana','apple','kiwi','orange','pineapple']
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'pineapple']
['pineapple', 'orange', 'kiwi', 'banana', 'apple']

sorted(): returns the ordered list without modifying the original list

In [53]:
fruits=['banana','mango','kiwi','orange']
print(sorted(fruits))
print(sorted(fruits,reverse=True))

['banana', 'kiwi', 'mango', 'orange']
['orange', 'mango', 'kiwi', 'banana']

**Practise programms**

Declare an empty list

Declare a list with more than 5 items

Find the length of your list

Get the first item, the middle item and the last item of the list

In [54]:
a=[]
print(a)

[]

In [55]:
a=['mouni','apple',1,2,True,{1:2},(1,2,3)]
print(len(a))

7

In [63]:
print(f'first item :{a[0]}')
print(f'middle item : {a[3]}')
last_index=len(a)-1
last_item=a[last_index]
print(f'last item :{last_item}')

first item :mouni
middle item : 2
last item :(1, 2, 3)

Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [68]:
mixed_data_types=['mounika',22,5.67,'single',' 500072,Hyderabad']
print(mixed_data_types)

['mounika', 22, 5.67, 'single', ' 500072,Hyderabad']

Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

Print the list using print()

Print the number of companies in the list

Print the first, middle and last company

Print the list after modifying one of the companies

Add an IT company to it_companies

Insert an IT company in the middle of the companies list

Change one of the it_companies names to uppercase (IBM excluded!)

Join the it_companies with a string '#;  '

In [85]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)
print(len(it_companies))

print((f'first  company: {it_companies[0]}'))
print(f'middle company : {it_companies[3]}')
last_index=len(it_companies)-1
last_company=it_companies[last_index]
print(f'last company : {last_company}')

it_companies[2]='Accenture'
#print(f'orginal companies: {it_companies}')
print(f'modified companies:{it_companies}')    #modified

it_companies.append('IT')
print(it_companies)        #append

it_companies.insert(4,'IT')   #insert
print(it_companies)

c=' # '.join(it_companies)
print(c)

list2=['#']
it_companies.extend(list2)
print(it_companies)

it_companies[0]=it_companies[0].upper()
print(it_companies[0])

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
first  company: Facebook
middle company : Apple
last company : Amazon
modified companies:['Facebook', 'Google', 'Accenture', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Accenture', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']
['Facebook', 'Google', 'Accenture', 'Apple', 'IT', 'IBM', 'Oracle', 'Amazon', 'IT']
Facebook # Google # Accenture # Apple # IT # IBM # Oracle # Amazon # IT
['Facebook', 'Google', 'Accenture', 'Apple', 'IT', 'IBM', 'Oracle', 'Amazon', 'IT', '#']
FACEBOOK

Check if a certain company exists in the it_companies list.

Sort the list using sort() method

Reverse the list in descending order using reverse() method

Slice out the first 3 companies from the list

Slice out the last 3 companies from the list

Slice out the middle IT company or companies from the list

Remove the first IT company from the list

Remove the middle IT company or companies from the list

Remove the last IT company from the list

Remove all IT companies from the list

Destroy the IT companies list

In [88]:
b='FACEBOOK' in it_companies
print(b)

True

In [89]:
b='facebook' in it_companies
print(b)

False

In [90]:
it_companies.sort()
print(it_companies)

['#', 'Accenture', 'Amazon', 'Apple', 'FACEBOOK', 'Google', 'IBM', 'IT', 'IT', 'Oracle']

In [91]:
it_companies.reverse()
print(it_companies)

['Oracle', 'IT', 'IT', 'IBM', 'Google', 'FACEBOOK', 'Apple', 'Amazon', 'Accenture', '#']

In [92]:
print(it_companies[0:3])

['Oracle', 'IT', 'IT']

In [95]:
print(it_companies[-3:])

['Amazon', 'Accenture', '#']

In [96]:
print(it_companies[4:6])

['Google', 'FACEBOOK']

In [99]:
it_companies.remove('IT')
print(it_companies)

['Oracle', 'IBM', 'Google', 'FACEBOOK', 'Apple', 'Amazon', 'Accenture', '#']

In [100]:
#remove
middle_start=4
middle_end=6

it_companies=it_companies[:middle_start] + it_companies[middle_end:]
print(it_companies)

['Oracle', 'IBM', 'Google', 'FACEBOOK', 'Accenture', '#']

In [101]:
print(it_companies.remove('#'))

None

In [102]:
it_companies.clear()

In [103]:
print(it_companies)

[]

Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [106]:
front_end=['HTML','CSS','JS','react','Redux']
back_end=['node','express','mongoadb']
front_end.extend(back_end)
print(front_end)

['HTML', 'CSS', 'JS', 'react', 'Redux', 'node', 'express', 'mongoadb']

In [107]:
full_stack=front_end.copy()
print(full_stack)

['HTML', 'CSS', 'JS', 'react', 'Redux', 'node', 'express', 'mongoadb']

In [112]:
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')

In [110]:
print(full_stack)

['HTML', 'CSS', 'JS', 'react', 'Redux', 'Python', 'SQL', 'node', 'express', 'mongoadb']

Exercises: Level 2
The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

Sort the list and find the min and max age

Add the min age and the max age again to the list

Find the median age (one middle item or two middle items divided by two)

Find the average age (sum of all items divided by their number )

Find the range of the ages (max minus min)

Compare the value of (min - average) and (max - average), use abs() method

Find the middle country(ies) in the countries list

Divide the countries list into two equal lists if it is even if not one more country for the first half.
['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [114]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [126]:
min(ages)

19

In [127]:
max(ages)

26

In [120]:
ages.append(min)

ages.append(max)

print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, <built-in function min>, <built-in function min>, <built-in function max>, <built-in function min>, <built-in function max>, <built-in function min>, <built-in function max>]

In [123]:
ages=[19,19,20,22,24,24,25,25,26]
ages_sorted=sorted(ages)
n=len(ages_sorted)

if n%2==1:
    median_age=ages_sorted[n//2]
else:
    middle1=ages_sorted[n//2-1]
    middle2=ages_sorted[n//2]
    median_age=(middle1+middle2)  /2
print(f'median ages : {median_age}')

median ages : 24

In [124]:
sum_of_ages=sum(ages)
num_of_ages=len(ages)
average_age=sum_of_ages/num_of_ages
print(average_age)

22.666666666666668

In [128]:
range=max(ages)-min(ages)
print(range)

7

In [129]:
countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

if len(countries)%2==0:
    first_half=countries[:len(countries)//2]
    second_half=countries[len(countries)//2:]
else:
    first_half=countries[:len(countries)//2+1]
    second_half=countries[len(countries)//2+1:] 

c1,c2,c3,*scandic_countries=countries

print(f'first half: {first_half}')
print(f'second half as acandic countries:{second_half}')
print(f'unpack countries : {c1,c2,c3}')
print(f'rest countries : {scandic_countries}')

first half: ['China', 'Russia', 'USA', 'Finland']
second half as acandic countries:['Sweden', 'Norway', 'Denmark']
unpack countries : ('China', 'Russia', 'USA')
rest countries : ['Finland', 'Sweden', 'Norway', 'Denmark']

In [131]:
average=sum_of_ages/num_of_ages
min_ages=min(ages)
max_ages=max(ages)
diff_min_age=abs(min_ages-average)
diff_max_age=abs(max_ages-average)
if diff_min_age > diff_max_age:
    print(f"The absolute difference between min and average ({diff_min_age}) is greater than max and average ({diff_max_age}).")
elif diff_min_age < diff_max_age:
    print(f"The absolute difference between max and average ({diff_max_age}) is greater than min and average ({diff_min_age}).")
else:
    print(f"The absolute differences between min and average ({diff_min_age}) and max and average ({diff_max_age}) are equal.")

The absolute difference between min and average (3.666666666666668) is greater than max and average (3.333333333333332).